/vendor/
.env
.env.*
!.env.example
.env.backup
/storage/uploads/*
!/storage/uploads/.gitkeep
/public/assets/uploads/*
!/public/assets/uploads/.gitkeep
*.log
.phpunit.result.cache
/storage/logs/*
!/storage/logs/.gitkeep
/storage/mail/*
!/storage/mail/.gitkeep
